// COMPONENTS

// BUTTONS

.button {
  @include bubble-top;
  @include padding-margin(1rem 1.5rem, .5rem 1rem .5rem 0);
  background: palette(text, link);
  border: none; 
  box-shadow: $box-shadow;
}

.section-portfolio--article-links {
    @extend .button;
    
    &__case-study {
      @extend .button;
      @include bubble-top-black;
      background: black;
      color: palette(text, link);
    }
  }

.form--submit {
  @extend .button;
  @include padding-margin(1.5rem, 1.5rem 0);
  color: palette(text, inverted);
  width: 100%;
  &:focus {
    outline: none;
  }
}

// FORM

.form {
  width: 60%;
  transition: $transition;
  &--input-container {
    position: relative;
  }
  label {
    color: $black;
    cursor: text;
    font-family: $font-family--body;
    left: 14px;
    position: absolute;
    top: 20px;
    transition: all 0.1s ease;
  }
  #message {
    height: 250px;
  }
  &--input {
    background: rgba(234, 243, 251, 0.40);
    border: 0;
    box-shadow: $box-shadow;
    font-size: 14px;
    margin: 8px 0;
    padding: 25px 10px 8px 14px;
    transition: all 0.3s ease;
    width: 100%;
  }
}

.form--input:hover,
.form--input:focus,
.form-input:valid {
  background: $white;
  outline: none;
}

.form--input:focus + label,
.form--input:valid + label{
  font-size: 11px;
  top: 13px;
}

.form--input:invalid {
  background: $white;
}

.form--input:invalid:not(:focus):not(:placeholder-shown) {
  background: rgba(234, 243, 251, 0.40);
}
