// COMPONENTS

// BUTTONS

.button {
  @include bubble-top;
  @include padding-margin(1rem 1.5rem, .5rem 1rem .5rem 0);
  background: $black;
  border: none; 
}

.section-portfolio--article-links {
    @extend .button;
  }

  .form--submit {
    @extend .button;
    @include padding-margin(1rem 1.5rem, 1.5rem 0);
    width: 100%;
    color: $desert-storm;
    &:focus {
      outline: none;
    }
  }


// FORM

.form {
  width: 70%;
  &--input-container {
    position: relative;
  }
  label {
    // color: rgba(29, 47, 69, 1);
    color: #500d3e;
    font-family: $font-family--body;
    position: absolute;
    left: 14px;
    top: 20px;
    cursor: text;
    transition: all 0.1s ease;
  }
  #message {
    height: 250px;
  }
  &--input {
    width: 100%;
    border: 0;
    margin: 8px 0;
    padding: 25px 10px 8px 14px;
    background: rgba(234, 243, 251, 0.60);
    font-size: 14px;
    transition: all 0.3s ease;
    border-bottom: 1px solid black;
  }
}

.form--input:hover,
.form--input:focus,
.form-input:valid {
  background: $desert-storm;
  outline: none;
}

.form--input:focus + label,
.form--input:valid + label{
  top: 13px;
  font-size: 11px;
}

.form--input:invalid {
  background: $desert-storm;
}

.form--input:invalid:not(:focus):not(:placeholder-shown) {
  background: rgba(234, 243, 251, 0.60);
}
