
body {
	@include padding-margin(0, 0);
	background: palette(background, dark);
}

.wrapper {
	@include padding-margin(0 4rem, 0 auto);
	max-width: 120rem;
}

.nav {
	@include padding-margin(2rem 0, 0);
	box-shadow: 0;
	position: fixed;
	top: 0;
	transition: all 0.5s;
	width: 100%;
	z-index: 9000;
	&--wrapper {
		@extend .wrapper;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	&--social,
	&--links {
		@include padding-margin(0, 0);
		display: flex;
		display: inline-block;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		list-style: none;
	}
	&--item {
		@include padding-margin(0, 0 2rem 0 0);
		display: inline-block;
		&:last-of-type {
			@include padding-margin(0, 0);
		}
	}
	&--item__svg {
		fill: palette(text, link);
		height: 2.5rem;
	}
	&--item:hover {
		svg {
			fill: palette(text, link-hover);
		}
	}
}

.main {
	@include padding-margin(16rem 0 0 0, 0 0 10rem 0);
	align-items: flex-start;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	&--container {
		@include padding-margin(0 12rem 0 0, 0);
		width: 60%;
	}
	&--container__image {
		width: 40%
	}
	&--hero-image {
		width: 100%;
	}
}

.section-portfolio {
	@include padding-margin(0, 0 15% 0 0);
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	&--article {
		display: flex;
		flex-flow: row wrap;
	}
	&--article-details {
		width: 70%;
		@include padding-margin(8rem 0 8rem 12rem, 5rem 0 5rem 0);
		background: palette(background, dark);
		position: relative;
    border-left: 1px solid palette(base, lines);
	}
	&--article-img {
		width: 30%;
		@include padding-margin(8rem 0, 0)
		z-index: $zindex-minus1;
	}
}

.section-form {
	@include padding-margin(0, 6rem 0 0 0);
}

.form {
	@include padding-margin(0, 10rem 0);
}

.footer {
	@include padding-margin(0, 0rem 0 8rem 0)
}


