// FONTS
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');

@font-face {
  font-family: 'Avenir';
  src: url('../assets/fonts/avenir-roman.ttf') format('truetype');
  src: url('../assets/fonts/avenir-roman.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../assets/fonts/avenir-light.ttf') format('truetype');
  src: url('../assets/fonts/avenir-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../assets/fonts/avenir-heavy.ttc') format('truetype');
  src: url('../assets/fonts/avenir-heavy.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

$font-family--header    : "Avenir", "Muli", sans-serif;
$font-family--body      : "Avenir", "Muli", sans-serif;

// Font Weights
$font-weight--light     : 300;
$font-weight--normal    : 400;
$font-weight--bold      : 700;

$base__line-height: 1.7;

// TYPOGRAPHY
body {
    @include fontSize(16);
    color: palette(text, primary);
    font-family: $font-family--body;
    font-weight: $font-weight--light;
    line-height: $base__line-height;
}

::selection {
    background: rgba(0,0,0,1);
    color: #ffd0d7;
}

h1, h2, h4 {
    @include padding-margin(0, 0 0 0.5rem 0);
    color: palette(text, heading);
    letter-spacing: 1px;
}

h1{
    @include fontSize(76);
    @include padding-margin(0, 16rem 0 0.5rem 0);
    font-family: $font-family--header;
    font-weight: $font-weight--bold;
}

h2,
h4 {
    font-family: $font-family--header;
}

h2 {
    @include fontSize(40);
    @include padding-margin(10rem 0 0 0, 0 0 8rem 0);
}

h3 {
    @include fontSize(24);
    @include padding-margin(0, 0);
    font-weight: $font-weight--normal;
    text-transform: uppercase;
}

h4 {
    @include fontSize(16);
    font-weight: $font-weight--normal;
    text-transform: uppercase;
}

p {
    @include fontSize(14);
    font-weight: $font-weight--light;
    letter-spacing: 1px;
}

.strong {
    font-weight: $font-weight--bold;
}

a,
a:visited {
    color: palette(text, link);
    font-weight: $font-weight--normal;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
        color: palette(text, link-hover);
    }
}

.section-portfolio--article-links,
.section-portfolio--article-links:visited {
    color: palette(text, inverted);
    &:hover {
      color: palette(text, inverted);  
    }
}

.nav--item {
    @include fontSize(12);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.main--subtitle {
    @include fontSize(20);
    @include padding-margin(0, 0 0 1rem 0);
    color: palette(text, heading);
    font-family: $font-family--body;
    font-weight: $font-weight--light;
}

.section-portfolio--article-tech {
    @include fontSize(13);
    color: palette(text, heading);
    font-weight: $font-weight--bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

label,
.form--submit {
    @include fontSize(16);
}