// Base Colours

// greys
$white          : rgba(255, 255, 255, 1.00);
$grey           : #adadad;
$aluminium      : rgba(155, 155, 155, .30);
$black          : #222222;

// others
$montana        : rgba(45, 28, 51, 1.00);
$scarlet        : rgba(255, 41, 76, 1.00);
$light-coral    : rgba(232, 136, 131, 1.00);
$pelorous       : #38ffd3;

$text-shadow    : 3px 4px 7px 0px rgba(155, 155, 155, 0.39);

$box-shadow     : 0 11px 16px 0 rgba(0,0,0,0.4);

.nav__box-shadow {
  box-shadow: 0 11px 16px 0 rgba(0,0,0, 0.16);
  background: rgba(0,0,0,1);
} 

$palettes: (
  base: (
    lines       : $aluminium
  ),

  text: (
    primary     : $white,
    heading     : $scarlet,
    link        : $pelorous,
    link-hover  : $grey,
    inverted    : $montana,
    highlight   : $light-coral
  ),

  background: (
    dark        : $black,
    body        : $white
  )
);

$zindex-minus1  : -1000;
$zindex-plus1   : 1000;
$zindex-2       : 2000;
$zindex-3       : 3000;

// functions

// get colours from the colour map
@function palette($palette, $tone: 'base') {
    @return map-get(map-get($palettes, $palette), $tone);
}

// Mixins
@mixin fontSize($sizeValue) {
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}

@mixin padding-margin ($padding, $margin) {
    padding: $padding;
    margin: $margin;
}

