@import 'setup';
@import 'utils';
@import 'animations';
@import 'typography';
@import 'layouts';
@import 'media-queries';

html {
    font-size: 62.5%;
}

img {
	width: 100%;
}

* {
    transition: $transition;    
}